:root {
  --primary-green: var(--bs-moss);
  --muted-olive-green:#7b9e91;

}


.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7B9E91;
  padding: 1rem 2rem;
  border-radius: 20px;
  box-shadow: var(--card-shadow);
  margin-bottom: 10px;
  opacity: 1;
  position: relative;
  z-index: 10;
}



.nav-item {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.nav-item:hover {
  background-color: #797979;
}

.nav-item.active {
  background-color: #bfbfbf;
  color: white;
  font-weight: bold;
}

.sub-nav-container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  box-shadow: none;
}


.sub-nav-item {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.sub-nav-item.active {
  background-color: #7b9e91;
  color: var(--bs-moss);
  font-weight: bold;
}

.step-title {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: var(--primary-green);
  /* background: rgba(79, 122, 106, 0.95); */
  padding: 15px 20px;
  border-radius: 20px;
}

