
.front-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #4F7A6A, #7B9E91);
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #4F7A6A, #7B9E91);
}

.text-container {
  position: relative;
  z-index: 2;
  text-align: left;
  max-width: 800px;
  padding: 2rem;
  color: white;
}

.text-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--bs-moss);
}

.text-container p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: white;
}

.primary-button {
  background: var(--bs-moss);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.primary-button:hover {
  background:  #3A5E50
}

.secondary-button {
  background: transparent;
  border: 2px solid var(--bs-moss);
  color: var(--bs-moss);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.secondary-button:hover {
  background: var(--bs-moss);
  color: white;
}
